* {
    margin: 0%;
    padding: 0%;
}
.head {
    display: flex; 
    background-color: #0A3A7A; 
    height: 28px; 
}
.it{
    color: white; 
    /*margin-left: 20px;*/ 
    margin-top: 5px; 
    justify-content: left;
}
.ti {
    color: white; 
    justify-content: left; 
    margin-top: 3px;
}
.contact{
  justify-content: left;
  margin-left: 46px;
  height: 88%;
  width: 14%;
  margin-top: 1px;

 }
.email {
    justify-content: left; 
    margin-top: 2px;
    height: 80%;
    width: 11%;
    margin-left: 15px;
}
.nit {
    height: 85%;
    width: 29%;
    margin-top: 2px;
}
.container {
   height: 78px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 74%;
    width: 20%;
    margin-top: -5px;
}
.list {
     display: flex; 
     list-style: none;
     gap: 55px;
     color: #000;
     margin-left: auto;
    margin-right: 130px;
    font-size: 19px;
}
.item:hover{
    color: #0A3A7A;
}
.button {
    text-decoration: none;
    color: white;
    margin-right: 10%;
    border: 1px #0A3A7A solid;
    background-color: #0A3A7A;
    padding: 7px 27px;
    display: inline-block;
    border-radius: 5px;
}
.sect{
    background-color: #0A3A7A;
    display: flex;
    justify-content: space-between;
}
.text {
    color: white;
    margin-left: 30px;
}
.btn {
    text-decoration: none; 
    margin-left: 117px; 
    color: #0A3A7A; 
    display: inline-block; 
    background-color: white;
    border-radius: 5px;
    padding: 7px 27px;
    margin-top: 20px;
}
.bttn {
    text-decoration: none;
    margin-left: 5px;
    color: white;
    background-color: #0A3A7A;
    border: 1px solid white;
    padding: 7px 27px;
    margin-top: 20px;
}
.clean {
    width: 30%;
    height: 30%;
    margin-top: 29px;
    margin-left: 17%;
}
.team {
    font-size: 29px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}
.learn{
    display: inline-block;
    background-color: #0A3A7A;
    color: white;
    text-decoration: none;
    padding: 7px 27px;
    margin-top: 15px;
    border-radius: 5px;
}
.prof {
    text-align: center;
    margin-top: 22px;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;

}
.home {
    display: inline-block;
    background-color: rgb(226, 229, 232);
    text-decoration: none;
    margin-left: 20px;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;
    color: black;
    align-items: center;
    margin-top: 20px;
}
.image {
    margin: 8px 15px 14px 15px;
}
.arrow {
    width: 30px;
    height: 16px;
    margin-top: 6px;
}
.work {
    margin-left: 12px;
    text-align: center;

}
.direct{
    display: block; 
    margin-left: 125px;
    margin-top: 6px;
    margin-bottom: 15px;
}
.view {
    display: inline-block;
    background-color: #0A3A7A;
    border-radius: 5px;
    color: white;
    padding: 7px 27px;
    text-decoration: none;
}
.place{
    height: 60%;
    width: 96%;
    margin-top: 18px;
    border-radius: 12px;
}
.choose {
    object-fit: cover;
    height: 350px;
    width: 42%;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 10px;
}
.tick {
    height: 30px;
    width: 30px;
}
.customer {
    font-family: 'Poppins', sans-serif;

}
.quote {
    display: inline-block;
    background-color: rgb(192, 209, 226);
    padding: 40px 30px;
}
.provisions {
    width: 24%;
    height: 175px;
    border-radius: 3px;
}
.more {
    display: inline-block;
    background-color: #0A3A7A;
    border-radius: 5px;
    color: white;
    padding: 7px 37px;
    text-decoration: none;
    text-align: center;
    margin-top: 8px;
}
.box{
    width: 70%;
    margin: 80px auto;
    padding: 50px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.subscribe-box {
    display: flex;
    justify-content: center;
}
.subscribe-box input {
    width: 500px;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 6px 0 0 6px;
    font-size: 16px;
    margin-top: 3px;
}
.subscribe-box a {
    padding: 18px 35px;
    border: none;
    background-color: #0a3d91;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    text-decoration: none;
}
.subscribe-box a:hover {
    background-color: #072c68;
}